.culc_button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #592C81;
  background-color: #A651F0;
  border: 2px solid #503D61;
}

.total_poly {
  font-weight: 700;
  color: #23495f;
  font-size: 30px;
  letter-spacing: 8px;
  font-style: italic;
  cursor: pointer;
}

.group_input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.inpute-one,
.inpute-two {
  width: 500px;
  font-size: 24px;
  color: #592C81;
  border-radius: 15px;
  padding: 5px;
  background-color: aqua;
  cursor: pointer;
}

.calc_poly {
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: brown;
}