.culc_button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #592C81;
  background-color: #A651F0;
  border: 2px solid #503D61;
}

.total_poly {
  font-weight: 700;
  color: #23495f;
  font-size: 30px;
  letter-spacing: 8px;
  font-style: italic;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .total_poly {
    letter-spacing: 4px;
    font-size: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .total_poly {
    letter-spacing: 5px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .total_poly {
    letter-spacing: 6px;
    font-size: 28px;
  }
}

.group_input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.inpute-one,
.inpute-two {
  width: 500px;
  font-size: 24px;
  color: #592C81;
  border-radius: 15px;
  padding: 5px;
  background-color: aqua;
  cursor: pointer;
}

.calc_poly {
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: brown;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .inpute-one,
  .inpute-two {
    font-size: 18px;
    width: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .inpute-one,
  .inpute-two {
    font-size: 20px;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .inpute-one,
  .inpute-two {
    font-size: 22px;
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .calc_poly {
    font-size: 18px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .calc_poly {
    font-size: 20px;
    padding: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .calc_poly {
    font-size: 22px;
    padding: 12px;
  }
}

.nav_ref {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-ref {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #592C81;
}

.culc_deriv {
  border: none;
  padding: 20px;
  background-color: aqua;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #592C81;
  width: 500px;
}


.group_deriv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.derivate_input {
  width: 500px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  color: #592C81;
  cursor: pointer;
}

.parag_deriv {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.house_managager_button {
  border: none;
  padding: 15px;
  color: #592C81;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  background-color: aqua;
  letter-spacing: 5px;
  font-style: italic;
  text-transform: uppercase;
  width: 250px;
}

.house_date {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.house_input {
  width: 150px;
  font-size: 24px;
  color: #503D61;
  font-weight: 700;
  background-color: rgb(112, 173, 173);
  cursor: pointer;
}

.textarea_house {
  width: 500px;
  height: 500px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  background-color: bisque;
  color: brown;
}

.tract_button {
  border-style: double;
  padding: 25px;
  background-color: chartreuse;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  font-style: italic;
  border-radius: 15px;
}

.group-planet {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.planet-label {
  font-size: 36px;
  font-weight: 700;
  color: darkblue;
}

.select-zn-zodiak {
  font-size: 36px;
  padding: 10px;
  font-weight: 700;
  color: #592C81;
  cursor: pointer;
  background-color: azure;
}

.group-houses {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.planet-houses {
  font-size: 36px;
  font-weight: 700;
  color: darkmagenta;
}

.select-house {
  font-size: 36px;
  padding: 10px;
  font-weight: 700;
  color: rgb(17, 36, 36);
  cursor: pointer;
  background-color: rgb(177, 211, 181);
}

.information-fild {
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  width: 500px;
  color: #26235f;
  border: 5px solid rgb(0, 17, 255);
  padding: 15px;
  text-align: center;
  font-style: italic;
  border-style: double;
  background-color: rgb(223, 230, 223);
  line-height: 2;
}